<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Birth date</label>
                <input type="date" formControlName="birthDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }" />
                <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
                    <div *ngIf="f.birthDate.errors.required">Birth date is required</div>
                </div>
            </div>
            <div formGroupName="address">

                <div class="mb-3">
                    <label class="form-label">Address</label>
                    <input type="text" formControlName="main" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.value.main.errors }" />
                    <div *ngIf="submitted && f.address.value.main.errors" class="invalid-feedback">
                        <div *ngIf="f.address.value.errors.required">Address is required</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Complement</label>
                    <input type="text" formControlName="complement" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.value.complement.errors }" />
                    <div *ngIf="submitted && f.address.value.complement.errors" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Postal code</label>
                    <input type="text" formControlName="postalCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.value.postalCode.errors }" />
                    <div *ngIf="submitted && f.address.value.postalCode.errors" class="invalid-feedback">
                        <div *ngIf="f.address.value.postalCode.errors.required">Postal code is required</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">City</label>
                    <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.value.city.errors }" />
                    <div *ngIf="submitted && f.address.value.city.errors" class="invalid-feedback">
                        <div *ngIf="f.address.value.city.errors.required">City is required</div>
                    </div>
                </div>

            </div>
            <div class="mb-3">
                <label class="form-label">Login</label>
                <input type="text" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
                <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                    <div *ngIf="f.login.errors.required">Login is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>